<configuration>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>
                %d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n
            </Pattern>
        </layout>
    </appender>

    <logger name="org.apache" level="warn"/>
    <logger name="org.apache.spark" level="info"/>
    <logger name="org.apache.spark.ui" level="info"/>
    <logger name="org.spark_project" level="error"/>
    <logger name="org.sparkproject" level="error"/>
    <logger name="codes.lyndon" level="debug"/>

    <root level="info">
        <appender-ref ref="CONSOLE"/>
    </root>

</configuration>